<ion-item button detail lines="full" [routerLink]="['/channels/detail', channel.id]">
  <ion-avatar slot="start">
    <img [src]="channel.avatar || 'assets/default-avatar.png'" />
  </ion-avatar>
  <ion-label>
    <div class="title-row">
      <h3>{{ channel.name }}</h3>
      <ion-icon *ngIf="channel.verified" name="checkmark-circle" class="verified"></ion-icon>
    </div>
    <p class="sub">{{ channel.followers | number }} followers</p>
  </ion-label>

  <ion-button
    fill="solid"
    size="small"
    shape="round"
    (click)="onFollowClick($event)"
    [color]="channel.following ? 'light' : 'success'">
    <ng-container *ngIf="channel.following">Following</ng-container>
    <ng-container *ngIf="!channel.following">Follow</ng-container>
  </ion-button>
</ion-item>
