ion-item {
  --min-height: 64px;
  .title-row { display:flex; align-items:center; gap:6px; }
  h3 { font-size: 1rem; margin:0; }
  .verified { color: var(--ion-color-primary); font-size: 1rem; }
  .sub { color: var(--ion-color-medium); margin-top:4px; font-size: 0.85rem; }
}
