<ion-content [fullscreen]="true" style="padding-top: 30px;">
  <div class="main">

    <div class="telldemm-img">
      <!-- <img src="assets/images/Frame 48.png" alt=""> -->
       <img src="/assets/icons/Tiara_logo.png" alt="">
    </div>

    <div class="welcome-main">
      <div class="welcome">
        <h2>Welcome to Telldemm</h2>
        <!-- <p>Your private, secure space to connect and share — just the way you like it.</p> -->
          <p>Real conversations. Zero eavesdroppers</p>
        <!-- <p>Stay in touch with your people, enjoy encrypted conversations, and experience communication with complete peace of mind. </p> -->
        <p>Privacy is not a feature — it’s the rule.</p>

      </div>
    </div>

    <div class="button">
      <!-- <button (click)="goToLogin()">Continue</button> -->
      <button (click)="goToLogin()">Let’s TellDemm</button>

    </div>

  </div>
</ion-content>