<ion-list lines="none">

  <!-- Individual Chat Menu -->
  <ng-container *ngIf="chatType === 'private'">
    <ion-item button (click)="onOptionClick('share')">
      <ion-label>Share WIP</ion-label>
    </ion-item>
    <ion-item button (click)="onOptionClick('edit')">
      <ion-label>Edit WIP</ion-label>
    </ion-item>
  </ng-container>

  <!-- Group Chat Menu - Show all options if user is a member -->
  <ng-container *ngIf="chatType === 'group' && isCurrentUserMember">
    <ion-item button (click)="onOptionClick('addMembers')">
      <ion-label>Add members</ion-label>
    </ion-item>

    <ion-item button (click)="onOptionClick('changeGroupName')">
      <ion-label>Change group name</ion-label>
    </ion-item>
  </ng-container>

  <!-- Group Chat Menu - Show only Change Group Name if user is NOT a member -->
  <ng-container *ngIf="chatType === 'group' && !isCurrentUserMember">
    <ion-item button (click)="onOptionClick('changeGroupName')">
      <ion-label>Change group name</ion-label>
    </ion-item>
  </ng-container>

</ion-list>