ion-list {
  padding: 0;
  min-width: 200px;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 48px;
  font-size: 15px;

  ion-icon {
    font-size: 22px;
    margin-right: 12px;
  }
}

ion-item:hover {
  --background: rgba(0, 0, 0, 0.04);
}
