<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" style="font-size: 24px; cursor: pointer; margin-right: 10px;"
          (click)="cancel()"></ion-icon>
    <ion-title>Edit Group Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

<ion-textarea
  [(ngModel)]="description"
  placeholder="Enter group description"
  auto-grow="true"
  style="--background: #e0e0e0; border-radius: 25px; --padding-start: 15px; --padding-end: 15px;"
></ion-textarea>

</ion-content>

  <!-- <div class="button-row" style="display: flex; justify-content: space-evenly;">
  <ion-button
    expand="block"
    style="--background: grey; --color: #fff;"
    (click)="cancel()"
  >
    Cancel
  </ion-button>

  <ion-button
    expand="block"
    style="--color: #fff;"
    (click)="saveDescription()"
  >
    Save
  </ion-button>
</div> -->

<ion-footer class="footer-buttons">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button
            expand="block"
            style="--background: grey; --color: #fff;"
            (click)="cancel()"
            class="cancel-btn"
            >Cancel</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button
            expand="block"
            style="--color: #fff;"
            class="ok-btn"
            (click)="saveDescription()"
          >
            save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>




