page-accessibility {
  ion-list {
    background: #ffffff;
    --ion-item-background: #ffffff;
    --ion-item-color: #000000;
  }
  .description {
    font-size: 0.9em;
    color: #666666;
  }
  @media (prefers-color-scheme: dark) {
    ion-list {
      background: #1a1a1a;
      --ion-item-background: #1a1a1a;
      --ion-item-color: #ffffff;
    }
    .description {
      color: #cccccc;
    }
  }
}


.ion_toolbar{
    --background: #ffffff;
    --color:  var(--ion-color-primary);
    // padding-top: 20px !important;
}  
.ion_title{
    color: var(--ion-color-primary) !important;
    padding: 0px;
}

.setting_icons{
    background: var(--ion-color-primary);
    color: white;
    padding: 4px;
    border-radius: 50px;
    font-size: 26px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}